.donation {
  height: 27.8125rem;
  &__info {
  
    top: -5.3125em;
    margin: 0 1.5625rem 0 1.5625rem;
    border-radius: 0.625rem;
    background-color: rgb(255, 255, 255);
    border: rgb(245, 245, 245) solid 0.1px;
    text-align: center;
  }
  h2 {
    font-size: 27px;
    margin-top: 37px;
    margin-bottom: 15px;
  }
  h3 {
    font-weight: 200;
    font-size: 12px;
    color: $lightGray;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #lineBreak {
    position: relative;
    border: none;
    background-color: $lightGray;
    height: 1px;
  }
  .progress {
    width: 333px;
  }
}
