.header {
  height: 19.125rem;
  background-repeat: no-repeat;
  background-size: cover;
  &__logo {
    img {
      height: 1.3125rem;
      width: 8.1875rem;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 1rem;
      height: 0.1875rem;
      background-color: white;

      &:not(:last-child) {
        margin-bottom: 0.1875rem;
      }
    }
  }

  &__links {
    a {
      &:not(:last-child) {
        margin-right: 2.0625rem;
      }
      // &:last-child {
      //  margin-right: 167px;
      // }
    }
  }
}
